<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet"  type='text/css' href="/css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous">
    </script>
    <title>RainyDay API Documentation</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white py-3 shadow-sm">
      <div class="container"><a class="navbar-brand" href="/">
          <a class="navbar-brand" href=".">🌦️RainyDay Chat</a>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item active"><a class="nav-link" href="./doc">API <span class="sr-only"></span></a></li>
              </ul>
          </div>
      </div>
  </nav>

  <div class = "frame">
    <div class="row align-items-center">
        <div class="col">
            <div class="rounded d-flex justify-content-center"  style="margin-top:80px">
                <h1>🌦️</h1>
            </div>
            <center><h1>PKMNDB</h1></center>
            <center><h5>Created by Oleg Uvarov, Sam Huynh, <br> Lennon Timon Tukei, Jessie Agudong De Jesus and Hussein Abdinur</h5></center>
            <center><p style="margin-bottom:80px">University of Washington, Tacoma TCSS 450: Mobile Application Programming</p></center>
            <center><p>RainyDay is an android app created by team 1 for their TCSS 450 term project. <br> The app allows users to see the weather forecast for their current location and add friends to chat with. <br> With RainyDay, users can stay up to date on the latest weather conditions and plan their days accordingly. <br> Additionally, the app's chat feature allows users to connect with friends and discuss the weather or any other topic they choose.<br> Overall, RainyDay is a convenient and user-friendly app that helps users stay informed and connected</p></center>
        </div>
      </div>
    </div>
  </body>
</html>