<!-- views/resetpassword.ejs -->
<form action="/forgotpassword" method="post" name="form">
  <div class="p-4">
      <%if (typeof alertMsg!='undefined') { %>
      <div class="alert alert-danger" role="alert">
          <%=(typeof alertMsg!='undefined')? alertMsg:''%>
      </div>
      <% } %>

      <%if (typeof successMsg!='undefined') { %>
      <div class="alert alert-success" role="alert">
          <%=(typeof successMsg!='undefined')? successMsg:''%> <a href="/login" class="alert-link">Sign In</a>
      </div>
      <% } %>

      <div class="row g-3">
          <div class="col-md-6">
              <label for="currentpassword" class="form-label">Current Password</label>
              <input type="password" class="form-control" id="currentpassword" name="currentpassword" required>
          </div>
          <div class="col-md-6">
              <label for="newpassword" class="form-label">New Password</label>
              <input type="password" class="form-control" id="newpassword" name="newpassword" required>
          </div>
          <input type="submit" class="btn btn-primary mt-2" value="Change Password">
      </div>
</div>