<!-- views/resetpassword.ejs -->
<div class="form-header">
    <h2>Create new password</h2>
  </div>
  <form method="post" action="forgotpassword/reset" novalidate>
    <div class="form-field">
      <label for="New_password">New Password</label>
      <input class="input" id="Newpassword" name="New_password" type="passwrod" value="" />
    </div>
    <div class="form-field">
      <label for="Repeat_password">Repeat Password</label>
      <input class="input" id="repeatpassword" name="Repeat_password" type="passwrod" value="" />
    </div>
    <div class="form-actions">
      <button class="btn" type="submit">Change Password</button>
    </div>
  </form>